body { 
    background-image: linear-gradient(to bottom, #ed86d36a, rgba(13, 95, 166, 0.574));
    font-family: Verdana, Arial, sans-serif;
}
img {
    float: right;
    margin: 0 0 5px 5px;
    border: 1px solid #000000;
}

body { 
    background-color: #90C7E3;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
